body {
    font-family: 'Courier New', monospace;
    font-weight: bold;
    background-color: #c3c3c3;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
    margin-bottom: 30px;
}

.page-group {
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
