<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Groupie Tracker - Accueil</title>
    <link rel="stylesheet" href="static/accueil.css" />
  </head>
  <body>
    <h1>Page d'accueil</h1>
    <h2>De quel groupe voulez vous avoir des information</h2>
    <form action="/src/struct.go" method="POST"></form>
      <button class="button1">recherche</button>
      <table id="table">
        {{range $i, $g := .ListGroup}}
            {{if eq (mod $i 5) 0}}
              <tr>
            {{end}}

            <td>
              <table id="table">
                <tr>
                  <a class="a" href="{{$g.Image}}" target="_blank" rel="noopener">
                    <img src="{{$g.Image}}" alt="image non chargée de {{$g.Name}}">
                  </a>
                </tr>
                <tr>
                  <button class="button"> {{$g.Name}} </button>
                </tr>
              </table>
            </td>

            {{if eq (mod $i 5) 4}}
                </tr>
            {{end}}
        {{end}}

        {{if ne (mod (len .ListGroup) 5) 0}}
            </tr>
        {{end}}
      </table>
    </form>
  </body>