<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Groupie Tracker - Accueil</title>
    <link rel="stylesheet" href="static/accueil.css" />
  </head>
  <body>
    <h1>Page d'accueil</h1>
    <h2>De quel groupe voulez vous avoir des information</h2>
    <form action="/src/struct.go" method="POST"></form>
    {{range .ListGroup}}
      <table id="table">
              <tr>
                  <td>
                    <a class="a" href= "{{.image}}" target="_blank" rel="noopener">
                  <img src= "{{.image}}" alt="image non charger" style="max-width:1000px; height:auto;">
                    </a>
                  <td>
                    <a class="a1"> </a>
                  </td>
                  <td>
                    <button class="button" type="submit" name="col" value="0"> 
                      {{.name}}
                    </button>
                  </td>  
              </tr>
      </table>
      {{end}}
    </form>
  </body>