<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Groupie Tracker - Accueil</title>
    <link rel="stylesheet" href="static/accueil.css" />
  </head>
  <body>
    <h1>Page d'accueil</h1>
    <h2>De quel groupe voulez vous avoir des information</h2>
    <form action="/src/struct.go" method="POST"></form>
      <table id="table">
        {{ $index := 0 }}
            {{range .ListGroup}}
              <tr>
                  <td>
                    {{if eq (mod $index 3) 0}}
                      <a class="a" href= "{{.Image}}" target="_blank" rel="noopener">
                    <img src= "{{.Image}}" alt="image non charger de {{.Name}}">
                      </a>
                      {{ $index = 1 }}
                    {{end}}
                  <td>
                    {{if eq (mod $index 3) 1}}
                      <a class="a" href= "{{.Image}}" target="_blank" rel="noopener">
                    <img src= "{{.Image}}" alt="image non charger de {{.Name}}">
                      </a>
                      {{ $index = 2 }}
                    {{end}}
                  </td>
                  <td>
                    {{if eq (mod $index 3) 2}}
                      <a class="a" href= "{{.Image}}" target="_blank" rel="noopener">
                    <img src= "{{.Image}}" alt="image non charger de {{.Name}}">
                      </a>
                      {{ $index = 0 }}
                    {{end}}
                  </td>  
              </tr>
            {{end}}
      </table>
    </form>
  </body>