<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Search Bar</title>
        <link rel="stylesheet" href="/static/searchbar.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
    </head>
    <body>
        <form>
            <div class="search">
                <span class="search-icon material-symbols-outlined">search</span>
                <input class="search-input" type="search" id="search" placeholder="Search">
                <script>
                document.getElementById("search").addEventListener("keydown", function (e) {
                    if (e.key === "Enter") {
                        e.preventDefault();
                        sendData();
                    }
                });
                function sendData() {
                    const value = document.getElementById("search").value;

                    fetch("/analyze", {
                        method: "POST",
                        headers: {
                        "Content-Type": "application/json"
                        },
                        body: JSON.stringify({ input: value })
                    })
                    .then(res => res.json())
                    .then(data => {
                        document.getElementById("result").innerText = data.result;
                    });
                }
                </script>
            </div>
        </form>
    </body>
</html>