body {
  margin: 0;
  height: 100vh;
  background-color: rgb(116, 197, 255);
}

h1 {
  color: gold;
  background-color: transparent;
  text-align: center;
}

h2 {
  color: black;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
}

#table {
  border-collapse: collapse;
  border-spacing: 10;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.a {
  border: none;                     
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  display: flex;
}
/*
.button {
  background-color: transparent;
  color: white;           
  border: none;             
  padding: 40px 40px;      
  border-radius: 8px;        
  font-size: 8px;
  cursor: pointer;
  text-align: center;
}
*/