body {
  margin: 0;
  height: 100vh;
  background-color: rgb(116, 197, 255);
}

h1 {
  color: gold;
  background-color: transparent;
  text-align: center;
}

h2 {
  color: black;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
}

#main-table {
  border-collapse: collapse;
  border-spacing: 20;
  background-color: transparent;
  display: flex;
  justify-content: center;
  text-align: center;
}

#grp-table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 20;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}

.a {
  border: none;                     
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  display: flex;
}
.button2 {
  display: inline-block;
  padding: 8px 14px;
  background-color: rgb(112, 187, 241);
  color: black;           
  border-radius: 6px;
  margin-top: 5px;
  text-align: center;
}
.button1:hover {
  background-color: rgba(5, 243, 243, 0.621);
  transform: scale(1.1);
}

.button2:hover {
  background-color: rgba(5, 144, 243, 0.621);
  transform: scale(1.1);
}

.button1{
  background-color: whitesmoke;
  color: black;           
  border: none;             
  width: 240px;
  height: 60px;      
  border-radius: 120px;        
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  display: flex;                 
  align-items: center;           
  justify-content: center;       

  margin: 0 auto;
  text-decoration: none;
}
