body {
  margin: 0;
  height: 100vh;
  background-color: rgb(116, 197, 255);
}

h1 {
  color: gold;
  background-color: transparent;
  text-align: center;
}

h2 {
  color: black;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
}

#table {
  margin: 1rem auto;
  border-collapse: collapse;
  border-spacing: 10;
  background-color: transparent;
}

.a {
  border: none;             
  padding: 100px 200px;      
  border-radius: 8px;        
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.a1 {
  border: none;             
  padding: 15px 30px;      
  border-radius: 8px;        
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.button {
  background-color: transparent;
  color: white;           
  border: none;             
  padding: 100px 200px;      
  border-radius: 8px;        
  font-size: 50px;
  cursor: pointer;
  text-align: center;
}