body {
  margin: 0;
  height: 100vh;
  background-color: rgb(116, 197, 255);
}

h1 {
  color: gold;
  background-color: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 60px;
}

h2 {
  color: gold;
  background-color: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 40px;
}

h3 {
  color: gold;
  background-color: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

h4 {
  color: gold;
  background-color: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

h5 {
  color: gold;
  background-color: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

#table {
  border-collapse: collapse;
  border-spacing: 20;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.a {
  border: none;                     
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  margin: 24px auto;
}

a.button {
  color: white;
  text-decoration: none;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 180px;
  margin: 0;
}

.button {
  background-color: rgb(112, 187, 241);
  color: white;
  border: none;
  width: 180px;
  height: 60px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  margin: 0;
  position: fixed;
  right: 24px;
  bottom: 24px;
  text-decoration: none;
}

li {
  color: white;
  font-size: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: white;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}