h1{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

strong{
    font-weight: bold;
}

p{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}

ul{
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 15px;
}

a{
    color: blue;
    text-decoration: underline;
}

li{
    margin-bottom: 10px;
}